<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/resources/images/favicons/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/resources/images/favicons/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/resources/images/favicons/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/resources/images/favicons/apple-touch-icon-precomposed.png">
    <link rel="icon" href="/resources/images/favicons/favicon.ico" type="image/x-icon">

    <link rel="author" href="humans.txt" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "XYZ Design Guidelines" %></title>

    <%= stylesheet_link_tag "app" %>

    <script src="/resources/javascripts/vendors/custom.modernizr.js"></script>

  </head>

  <body class="<%= page_classes %>">

    <nav class="top-bar hide-for-small">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="/">XYZ Design Guidelines</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Meny</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="#">Prototyper:</a></li>
          <li class="divider"></li>
          <li><a href="#">Now</a></li>
          <li class="divider"></li>
          <li><a href="#">Next</a></li>
          <li class="divider"></li>
          <li><a href="#">Playground</a></li>
        </ul>
      </section>
    </nav>

    <section class="mainXXX">
      <header class="show-for-small">
        <a class='sidebar-button show-for-small' id="sidebarButton" href="#sidebar" >
          <img src="http://foundation.zurb.com/docs/assets/offcanvas/menu-wht.png" alt="ZURB Menu"><h4>Foundation</h4></a>
      </header>
      
      <div class="row">
        <div class="large-12 columns">
          <h1 class="docs header"><a href="#">XYZ Design Guidelines</a></h1>
          <hr>
        </div>
      </div>
    
      <div class="row">

        <%= yield %>

        <%= partial "style-guide/nav-sec" %>

      </div>
      <div class="row">
        <div class="large-12 columns">
            <ul class="">
              <li><a href="#">Om XYZ</a></li>
              <li><a href="#">Kontakt</a></li>
           </ul>
        </div>          
      </div>
    </section>
    <!-- /mainXXX -->

  </body>


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/resources/javascripts/vendors/zepto' : '/resources/javascripts/vendors/jquery') +
  '.js><\/script>')
  </script>

  <%= javascript_include_tag  "all" %>

  <script>
    $(document).ready(function () {
      <%= yield_content :onready %>
      $(document).foundation();
    });
  </script>
</html>